<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="br.com.pulse.mapper.FilialMapper">

<resultMap id="filialResultMap" type="br.com.pulse.model.Filial">

	<result column="cd23_id" property="id" />
	<result column="cd23_desc" property="descricao" />
	<result column="cd23_endereco" property="endereco" />

</resultMap>

	<select id="buscar" resultMap="filialResultMap">
		select cd23_id, cd23_desc, cd23_endereco from
		"treinamento-pulse".cd23_filial where cd23_id = #{filialId};
	</select>

</mapper>